@using DietPreparation.Resources

@model string

<div class="form-group">
	<div class="row">
		<div class="col-md-4 col-lg-3 offset-md-2 offset-lg-3">
			@Html.ActionLink(ContentResources.Cancel, "Index", "FeedStuffs", null, new { @class = "btn btn-secondary"})
		</div>
		<div class="col-md-4 col-lg-3">
			<button type="submit" class="btn btn-primary mt-md-0 mt-2">@Model</button>
		</div>
	</div>
</div>