@import "../../../wwwroot/css/_custom-variables.scss";

.table {
    background-color: $white;
}

.ingredients-container {
    background: $white;
}

.header-bg {
    background: $grey !important;
}

.field-bg {
    background: $grey;
}