<div id="alert-container" class="alert-container">
	<div class="template">
		<i id="danger-fill" data-feather="alert-triangle"></i>
		<i id="warning-fill" data-feather="info"></i>
		<i id="success-fill" data-feather="check-circle"></i>
	</div>
</div>