<footer class="border-top footer text-muted">
	<div class="container">
		&copy; @DateTime.Now.Year - @DietPreparation.Resources.ContentResources.CompanyName - 
		<a asp-area="" asp-controller="Home" asp-action="Privacy">
			@DietPreparation.Resources.ContentResources.Privacy
		</a>
	</div>
</footer>
