@using DietPreparation.Resources

<div class="container-fluid position-relative header">
	<a class="navbar-brand" title="@ContentResources.CompanyName" asp-area="" asp-controller="Home" asp-action="Index">
		<img src="~/images/logo.png">
		@ContentResources.DietPreparation
	</a>
</div>